.class1 {
	font-size: 12px;
	font-weight: 700;
}

#someId {
	font-size: 14px;
}

.class3.class4 {
	font-size: 16px;
}

.class3.class4:hover {
	font-size: 16px;
	color: red
}

.class5 .class6 {
	font-size: 20px;
}

.class5 .class6:hover {
	background-color: green;
}

.class5 .class6:focus {
	background-color: green;
}

p.class7 {
	
}
