<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>sourceitWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>connpool</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>servlets.FirstServlet</servlet-class>
    <init-param>
      <param-name>param</param-name>
      <param-value>value</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>errorshandlers.ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>NoCache</filter-name>
    <filter-class>filters.CashFilter</filter-class>
  </filter>
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>filters.LogFilter</filter-class>
    <init-param>
      <param-name>test-param</param-name>
      <param-value>Initialization Paramter</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>AuthenFilter</filter-name>
    <filter-class>filters.AuthenFilter</filter-class>
    <init-param>
      <param-name>test-param</param-name>
      <param-value>Initialization Paramter</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>NoCache</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthenFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>
	      javax.servlet.ServletException
	   </exception-type>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.io.IOException</exception-type>
    <location>/ErrorHandler</location>
  </error-page>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
</web-app>